<div class="addMealForm" *ngIf="showForm === true">
<h1>Add a meal to your log!</h1>
  <form>
    <div class="form-group">
      <label for="name">Name of the meal</label>
      <input #newName>
    </div>
    <div class="form-group">
      <label for="detail">Meal details</label>
      <input #newDetail>
    </div>
    <div class="form-group">
      <label for="calories">Number of Calories</label>
      <input #newCalories>
    </div>
    <button (click)="createMeal(newName.value, newDetail.value, newCalories.value); newName.value = ''; newDetail.value = ''; newCalories.value = '';">Submit</button>
  </form>
</div>
