<div class="rootPage">
  <h1>This works</h1>
  <h1>Total meals: {{mealCount}}</h1>
  <h1>Total calories: {{calorieCount}}</h1>
  <button (click)="showMealForm()">Toggle New Meal Form</button>
  <button (click)="showHighCal()">Sort Highest to Lowest</button>
  <button (click)="showLowCal()">Sort Lowest to Highest</button>

  <add-meal (newMealSender)="addMeal($event)" [showForm]="showForm">Loading Add Meal Content...</add-meal>

  <high-cal [showHigh]="showHigh" [mealLog]="mealLog" (sendEditMeal)="editMeal($event)">Loading High Calorie Content...</high-cal>
  <low-cal [showLow]="showLow" [mealLog]="mealLog" (sendEditMeal)="editMeal($event)">Loading Low Calorie Content...</low-cal>
  <display-log [mealLog]="mealLog" (sendEditMeal)="editMeal($event)">Loading Display Log Content...</display-log>

  <edit-meal [targetMeal]="mealToEdit">Loading Edit Meal Content...</edit-meal>
</div>
